{% extends "base.html" %}

{% block landing_info %}

<div class="support">
    <h1>Ways you can support the project:</h1>
    <ul>
        <li><h2>Use the product!</h2></li>
        <li><h2>Tell people about the product</h2></li>
        <li><h2>File bug reports</h2></li>
        <li><h2>File feature requests</h2></li>
        <li><h2>Donate comments</h2></li>
    </ul>
    <h1 id="get__involved">Want to get more involved?</h1>
    <h2>The DataIRL team always appreciates help and is looking for those experienced (or inexperienced!) with:</h2>
    <br>
        <ul>
            <li><h2>Web Development</h2></li>
            <li><h2>Python (Selenium, Flask)</h2></li>
            <li><h2>AWS (Lambda, SQS, Lex, ECS, RDS)</h2></li>
            <li><h2>Product management</h2></li>
            <li><h2>Frontend development (React, Flutter, JS)</h2></li>
        </ul>
    <button class="button" id="get__involved__btn" type="button"><a href="/">Express Interest!</a></button>
</div>


{% endblock %}

<!---

Ways you can support the project:
* File bug reports
* File feature requests 
* Submit text comments to help expand the model

--->