{% extends "base.html" %}

{% block landing_info %}

<div class="about">
    <div class="about__content">
        <h1>Why DataIRL?</h1>
        <p>Qualitative data generation has always been a perceived product lapse for frontline employees. 
            While the generate test data feature is great for testing survey functionality (embedded data, display logic, etc.)
            it is not useful for generating "real world" open-text data. 
            Currently, the system selects from a pool of Latin phrases and inputs these phrases into open-text style questions during the generate test data process. 
            This is not useful when it comes to demoing Qualtrics's qualitative data analysis capabilities for clients. 
        </p><br>
        <p>DataIRL seeks to bridge the gap in the generate test responses tool and improve the efficiency of qualitative data generation.
            The tool allows you to select between a number of preconfigured template surveys and efficiently generate qualitative responses that will resonate with your client.
            
        </p>
        <h2>Architecture</h2>
    </div>
</div>    
{% endblock %}